{
"version": 1,
"loggers": {
        "hermes.Resources" : {
            "handlers": ["resources","console"],
            "level": "CRITICAL",
            "propagate": false
        },
        "hermes.workflow" : {
            "handlers": ["workflow","console"],
            "level": "CRITICAL",
            "propagate": false
        },
        "hermes.taskwrapper" : {
            "handlers": ["taskwrapper","console"],
            "level": "CRITICAL",
            "propagate": false
        },
        "hermes.bin" : {
            "handlers": ["bin","console"],
            "level": "DEBUG",
            "propagate": false
        }
},
"handlers": {
    "console" : {
        "class": "logging.StreamHandler",
        "formatter": "brief",
        "stream": "ext://sys.stdout"
    },
    "resources" : {
        "class": "logging.handlers.RotatingFileHandler",
        "formatter": "default",
        "filename": "{hermes_log}/resources.log",
        "maxBytes": 20000,
        "backupCount": 3
    },
    "workflow" : {
        "class": "logging.handlers.RotatingFileHandler",
        "formatter": "default",
        "filename": "{hermes_log}/workflow.log",
        "maxBytes": 20000,
        "backupCount": 3
    },
    "taskwrapper" : {
        "class": "logging.handlers.RotatingFileHandler",
        "formatter": "default",
        "filename": "{hermes_log}/taskwrapper.log",
        "maxBytes": 20000,
        "backupCount": 3
    },
    "bin" : {
        "class": "logging.handlers.RotatingFileHandler",
        "formatter": "default",
        "filename": "{hermes_log}/bin.log",
        "maxBytes": 20000,
        "backupCount": 3
    }

},
"formatters" : {
    "brief" : {
        "format": " %(levelname)-10s:%(name)s %(filename)s/%(lineno)d/%(funcName)s: %(message)s",
        "datefmt": "%Y-%m-%d %H:%M:%S"
     },
    "default": {
        "format": "%(asctime)s %(levelname)-10s:[%(name)s] %(filename)s/%(lineno)d/%(funcName)s:  %(message)s",
        "datefmt": "%Y-%m-%d %H:%M:%S"
    }
}
}