{#-macro that will print dictionary values, include nested dictionaties-#}
{%- macro macrObj(dict,Bspace) -%}
{%- set space=' ' -%}
{%- for key, value in dict.items() -%}
{%- if value is mapping %}
{{ space|safe*Bspace }}{{key}}
{{ space|safe*Bspace }}{
{{macrObj(value,Bspace+4)}}
{{ space|safe*Bspace }}}
{% else -%}
{%- if key|length<12 -%}
{% set lenSpace=12-key|length %}
{#-multiply 1 spcace in the wanted lenght - lenSpace'-#}
{#- for the probs' so wont be ';' after the '}' -#}
{{ space|safe*Bspace }}{{ key }} {{ space|safe*lenSpace }} {{ value }};
{##}
{%- else -%}
{{- space|safe*Bspace }}{{ key }} {{ value -}};
{##}
{%- endif %}
{% endif %}
{%- endfor -%}
{%- endmacro -%}

// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //
