{#-#############################################-#}
{#-#############################################-#}
{#-        A marco for the injectors            -#}
{#-  =========================================  -#}
{%- macro injectors(injectorName,injectorData)  -%}
{%      if injectorData.type =='manualInjection' %}
{{ManualInjection(injectorName,injectorData)}}
{%      elif injectorData.type =='continuousInjection' %}
{{ContinuousInjection(injectorName,injectorData)}}
{%      else %}
    UNKNOWN Injector, must be either [manualInjection,continuousInjection]
{%      endif %}
{%- endmacro %}

{#- Injector: A marco for the Manual injection  -#}
{#- -----------------------------------------  -#}
{%- macro ManualInjection(injectorName,injectorData) -%}
        {{injectorName}}
        {
            type            manualInjection;
            massTotal       {{injectorData.massTotal}};
            parcelBasisType {{injectorData.parcelBasisType}};
            nParticle       {{injectorData.nParticle}};
            SOI             {{injectorData.StartOfInjection}};
            positionsFile   {{injectorData.positionsFile}};
            U0              {{toVector(injectorData.U0)}};
            T0              {{toVector(injectorData.T0)}};
            sizeDistribution
            {
                {{sizedistribution(injectorData.sizeDistribution)}}
            }
        }
{%- endmacro %}

{#- Injector: A marco for the Continuous injection  -#}
{#- -----------------------------------------  -#}
{%- macro ContinuousInjection(injectorName,injectorData) -%}
        {{injectorName}}
        {
            type            ContinuousInjection;
            massTotal       {{injectorData.massTotal}};
            parcelBasisType {{injectorData.parcelBasisType}};
            EOI             {{injectorData.EndOfInjection}};
            SOI             {{injectorData.StartOfInjection}};
            positionsFile   {{injectorData.positionsFile}};
            U0              {{toVector(injectorData.U0)}};
            T0              {{toVector(injectorData.T0)}};
            sizeDistribution
            {
                {{sizedistribution(injectorData.sizeDistribution)}}
            }
        }
{%- endmacro %}

{#- #############################################    -#}
{#- #############################################    -#}
{#-         A marco for the size distributions       -#}
{#-  ========================================= -#}
{%- macro sizedistribution(sizeDistributionData) -%}
{%      if sizeDistributionData.type =='fixedValue' %}
                type        fixedValue;
                fixedValueDistribution
                {
                    value   {{sizeDistributionData.diameter}};
                }
{%      else %}
    UNKNOWN sizeDistrubtion, must be fixedValue
{%      endif %}
{%- endmacro %}

{#-###########################  -#}
{#-         Utilities           -#}
{#-###########################  -#}

{%- macro toVector(vertices) -%}
  ({%- for coord in vertices %} {{ coord }} {%- endfor %})
{%- endmacro %}
