{#-###########################-#}
{#-A marco for the a solver -#}
{#-###########################-#}
{%- macro solver(fieldName,solverData,final=False) -%}
{%  if solverData.solver =='PCG' %}
{{PCG(fieldName,solverData,final)}}
{%  elif solverData.solver =='PBiCG' %}
{{PBiCG(fieldName,solverData,final)}}
{%  elif solverData.solver =='GAMG'%}
{{GAMG(fieldName,solverData,final)}}
{%  elif solverData.solver =='diagonal'%}
{{diagonal(fieldName,solverData,final)}}
{%  elif solverData.solver =='smoothSolver'%}
{{smoothSolver(fieldName,solverData,final)}}
{%  else %}
    UNKNOWN Solver, must be PCG, PBiCG, GAMG, diagonal or smoothSolver. Got {{solverData.solver}}
{% endif %}
{%- endmacro %}


{#-###########################-#}
{#-A marco for the PCG solver -#}
{#-###########################-#}
{%- macro PCG(fieldName,solverData,final=False) -%}
{{fieldName}}{%- if final %}Final{%- endif %}
{
    solver              PCG;
    preconditioner      {{solverData.preconditioner}};
    {%- if 'tolerance' in solverData %}
    tolerance           {{solverData.tolerance}};
    {% endif -%}
    {%- if 'relTol' in solverData %}
    relTol              {{solverData.relTol}};
    {% endif -%}
    {%- if 'maxIter' in solverData %}
    maxIter             {{solverData.maxIter}};
    {% endif -%}
}
{%- endmacro %}


{#-#############################-#}
{#-A marco for the PBiCG solver -#}
{#-#############################-#}
{%- macro PBiCG(fieldName,solverData,final=False) -%}
{{fieldName}}{%- if final %}Final{%- endif %}
{
    solver              PBiCG;
    preconditioner      {{solverData.preconditioner}};
    {%- if 'tolerance' in solverData %}
    tolerance           {{solverData.tolerance}};
    {% endif -%}
    {%- if 'relTol' in solverData %}
    relTol              {{solverData.relTol}};
    {% endif -%}
    {%- if 'maxIter' in solverData %}
    maxIter             {{solverData.maxIter}};
    {% endif -%}
}
{%- endmacro %}

{#-#############################-#}
{#-A marco for the GAMG solver -#}
{#-#############################-#}
{%- macro GAMG(fieldName,solverData,final=False) -%}
{{fieldName}}{%- if final %}Final{%- endif %}
{
    solver GAMG;
    smoother        {{solverData.smoother}};
    {%- set CAbool=solverData.cacheAgglomeration %}
    {{ 'cacheAgglomeration on;' if CAbool else 'cacheAgglomeration off;' }}

    {%- if 'agglomerator' in solverData %}
    agglomerator    {{solverData.agglomerator}};
    {% endif -%}
    {%- if 'nCellsInCoarsestLevel' in solverData %}
    nCellsInCoarsestLevel {{solverData.nCellsInCoarsestLevel}};
    {% endif -%}
    {%- if 'mergeLevels' in solverData %}
    mergeLevels     {{solverData.mergeLevels}};
    {% endif -%}
    {%- if 'tolerance' in solverData %}
    tolerance       {{solverData.tolerance}};
    {% endif -%}
    {%- if 'relTol' in solverData %}
    relTol          {{solverData.relTol}};
    {% endif -%}
}
{%- endmacro %}


{#-###########################-#}
{#-A marco for the PCG solver -#}
{#-###########################-#}
{%- macro diagonal(fieldName,solverData,final=False) -%}
{{fieldName}}{%- if final %}Final{%- endif %}
{
    solver              diagonal;
}
{%- endmacro %}

{#-###########################-#}
{#-A marco for the PCG solver -#}
{#-###########################-#}
{%- macro smoothSolver(fieldName,solverData,final=False) -%}
{{fieldName}}{%- if final %}Final{%- endif %}
{
    solver              smoothSolver;
    smoother            {{solverData.smoother}};
    {%- if 'nSweeps' in solverData %}
    nSweeps    {{solverData.nSweeps}};
    {% endif -%}
    {%- if 'tolerance' in solverData %}
    tolerance       {{solverData.tolerance}};
    {% endif -%}
    {%- if 'relTol' in solverData %}
    relTol          {{solverData.relTol}};
    {% endif -%}
}
{%- endmacro %}
