{#-###########################-#}
{#-A marco for the a solver -#}
{#-###########################-#}
{%- macro solver(fieldName,solverData,final=False) -%}
{%  if solverData.solver =='PCG' %}
{{PCG(fieldName,solverData,final)}}
{%  elif solverData.solver =='PBiCG' %}
{{PBiCG(fieldName,solverData,final)}}
{%  elif solverData.solver =='GAMG'%}
{{GAMG(fieldName,solverData,final)}}
{%  elif solverData.solver =='diagonal'%}
{{diagonal(fieldName,solverData,final)}}
{%  elif solverData.solver =='smoothSolver'%}
{{smoothSolver(fieldName,solverData,final)}}
{%  else %}
    UNKNOWN Solver, must be PCG, PBiCG, GAMG, diagonal or smoothSolver. Got {{solverData.solver}}
{% endif %}
{%- endmacro %}


{#-###########################-#}
{#-A marco for the PCG solver -#}
{#-###########################-#}
{%- macro PCG(fieldName,solverData,final=False) -%}
{{fieldName}}{%- if final %}Final{%- endif %}
{
    solver              PCG;
    {%- if solverData.preconditioner is defined %}
    preconditioner      {{solverData.preconditioner}};
    {%- endif %}
    {%- if solverData.tolerance is defined %}
    tolerance           {{solverData.tolerance}};
    {% endif -%}
    {%- if solverData.relTol is defined %}
    relTol              {{solverData.relTol}};
    {% endif -%}
    {%- if solverData.maxIter is defined %}
    maxIter             {{solverData.maxIter}};
    {% endif -%}
}
{%- endmacro %}


{#-#############################-#}
{#-A marco for the PBiCG solver -#}
{#-#############################-#}
{%- macro PBiCG(fieldName,solverData,final=False) -%}
{{fieldName}}{%- if final %}Final{%- endif %}
{
    solver              PBiCG;
    {%- if solverData.preconditioner is defined %}
    preconditioner      {{solverData.preconditioner}};
    {% endif -%}
    {%- if solverData.tolerance  is defined %}
    tolerance           {{solverData.tolerance}};
    {% endif -%}
    {%- if solverData.relTol is defined %}
    relTol              {{solverData.relTol}};
    {% endif -%}
    {%- if solverData.maxIter is defined %}
    maxIter             {{solverData.maxIter}};
    {% endif -%}
}
{%- endmacro %}

{#-#############################-#}
{#-A marco for the GAMG solver -#}
{#-#############################-#}
{%- macro GAMG(fieldName, solverData, final=False) -%}
{{ fieldName }}{%- if final %}Final{%- endif %}
{
    solver GAMG;

    {%- if solverData.smoother is defined %}
    smoother {{ solverData.smoother }};
    {%- endif %}

    {%- if solverData.cacheAgglomeration is defined %}
    cacheAgglomeration {{ 'on' if solverData.cacheAgglomeration else 'off' }};
    {%- endif %}

    {%- if solverData.agglomerator is defined %}
    agglomerator {{ solverData.agglomerator }};
    {%- endif %}

    {%- if solverData.nCellsInCoarsestLevel is defined %}
    nCellsInCoarsestLevel {{ solverData.nCellsInCoarsestLevel }};
    {%- endif %}

    {%- if solverData.mergeLevels is defined %}
    mergeLevels {{ solverData.mergeLevels }};
    {%- endif %}

    {%- if solverData.tolerance is defined %}
    tolerance {{ solverData.tolerance }};
    {%- endif %}

    {%- if solverData.relTol is defined %}
    relTol {{ solverData.relTol }};
    {%- endif %}
}
{%- endmacro %}



{#-###########################-#}
{#-A marco for the PCG solver -#}
{#-###########################-#}
{%- macro diagonal(fieldName,solverData,final=False) -%}
{{fieldName}}{%- if final %}Final{%- endif %}
{
    solver              diagonal;
}
{%- endmacro %}

{#-###########################-#}
{#-A marco for the PCG solver -#}
{#-###########################-#}
{%- macro smoothSolver(fieldName,solverData,final=False) -%}
{{fieldName}}{%- if final %}Final{%- endif %}
{
    solver              smoothSolver;
    smoother            {{solverData.smoother}};
    {%- if 'nSweeps' in solverData %}
    nSweeps    {{solverData.nSweeps}};
    {% endif -%}
    {%- if 'tolerance' in solverData %}
    tolerance       {{solverData.tolerance}};
    {% endif -%}
    {%- if 'relTol' in solverData %}
    relTol          {{solverData.relTol}};
    {% endif -%}
}
{%- endmacro %}
