{
"version": 1,
"loggers": {
        "": {
            "handlers": ["console"],
            "level": "DEBUG",
            "propagate": false
        },
        "engines" : {
            "handlers": ["engines","console"],
            "level": "DEBUG",
            "propagate": false
        },
        "Resources.executers" : {
            "handlers": ["executers","console"],
            "level": "DEBUG",
            "propagate": false
        }
},
"handlers": {
    "console" : {
        "class": "logging.StreamHandler",
        "stream": "ext://sys.stdout"
    },
    "engines" : {
        "class": "logging.handlers.RotatingFileHandler",
        "formatter": "default",
        "filename": "{hermespath}/logging/log/engines.log",
        "maxBytes": 20000,
        "backupCount": 3
    },
    "executers" : {
        "class": "logging.handlers.RotatingFileHandler",
        "formatter": "default",
        "filename": "{hermespath}/logging/log/executers.log",
        "maxBytes": 20000,
        "backupCount": 3
    }
},
"formatters" : {
    "brief" : {
        "format": "%(message)s"
     },
    "default": {
        "format": "%(asctime)s %(filename)s/%(funcName)s(%(lineno)d) %(levelname)-8s %(name)-15s %(message)s",
        "datefmt": "%Y-%m-%d %H:%M:%S"
    }
}


}