/*--------------------------------*- C++ -*----------------------------------*\
| =========                 |                                                 |
| \\      /  F ield         | OpenFOAM: The Open Source CFD Toolbox           |
|  \\    /   O peration     | Website:  https://openfoam.org                  |
|   \\  /    A nd           | Version:  10                                    |
|    \\/     M anipulation  |                                                 |
\*---------------------------------------------------------------------------*/
FoamFile
{
    {% for key, val in FoamFile.items() %}
    {{ key }}    {{ val }};
    {% endfor %}
}
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //

{% macro render_dict(d, indent=0) %}
{% set indent_str = '    ' * indent %}
{% set keys = d.keys() | sort %}
{% for key in keys %}
    {% set value = d[key] %}
    {% if value is mapping %}
{{ indent_str }}{{ key }}
{{ indent_str }}{
{{ render_dict(value, indent + 1) }}
{{ indent_str }}}

    {% elif value is iterable and not value is string %}
{{ indent_str }}{{ key }}    ({{ value | join(' ') }});

    {% else %}
{{ indent_str }}{{ key }}    {{ value }};
    {% endif %}
{% endfor %}
{% endmacro %}

{{ render_dict(input_parameters) }}

// ************************************************************************* //
