{%- macro toPoint(vertices) -%}
  ({%- for coord in vertices %} {{ coord }} {%- endfor %})
{%- endmacro %}

{%- macro toBool(var) -%}
  {%- if var%}true{%- else%}false{%endif%}
{%- endmacro %}

{%- macro toList(lst) -%}
  ({%- for val in lst %} {{ val }} {%- endfor %})
{%- endmacro %}

{%- macro setParams(params) -%}
{%- for paramName,paramValue in params.items() -%}
{% if paramValue is sequence %}
{{paramName}} {% for valueItem in paramValue -%}{{valueItem}}{%- endfor %}
{%- else %}
{{paramName}} {{paramValue}};
{%- endif %}
{% endfor -%}
{%- endmacro %}
